
@*  // passing from controller -> view(Aboutus)-> view(_Layout)
    @{
    ViewData["Title"] = "About us";

}

*@




    <h1> This is about us page </h1>


@section breadcrumb
    {
    <nav aria label"=" breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a href="#"> Home</a></li>

            <li class="breadcrumb-item"> <a href="#"> page 1</a></li>


            <li class="breadcrumb-item active" aria-current="page"> About us </li>
        </ol>
    </nav>

}