

<h1>Contact Us</h1>


@section breadcrumb
    {
    <nav aria label"=" breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a href="#"> Home</a></li>

            <li class="breadcrumb-item"> <a href="#"> page 1</a></li>


            <li class="breadcrumb-item active" aria-current="page"> contact us </li>
        </ol>
    </nav>

}