
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
   
   
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body >
   
    <img src="~/images/bookstorelogo.png" class="logo" alt="logo" />
    <h1 class="h1"> home to Tanuj ki Book Store </h>

        <input type="button" value="click me"  class="btn btn-danger" />
</body>
<script src="~/lib/jquery/jquery.js"></script>


</html>

<script>

    $(document).ready(function(){
        alert("page loaded");
    });

</script>
