
@*
@{
    dynamic data = ViewBag.Data ;


}




@{
    var bookInfo = ViewData["book"]  as BookModel;

}

@{
    ViewData["Title"] = "Home";
}

*@

@{

    var book = ViewData["Book"] as BookModel;
}

@inject Tanuj.BookStore.Repository.IBookRepository _bookRepository   
@* dependency injection*@


<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Tanuj ki Bookstore @ViewData["CustomProperty"]</h1>

       <!--
           <environment  names="Development"> <h3>development </h3> </environment>
        <environment names="Production, Staging"> <h3>production </h3> </environment>
         -->
        <h1> Id= @book.Id </h1>
        <h1> title= @book.Title </h1>
     
        <p class="lead text-muted">
          
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
        @foreach (var item in await _bookRepository.GetAllBooks())   @* directly using repository using dependency injection*@
        {
            <h2>@item.Title </h2>

        }
    </div>
</section>


<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">top books</h3>
@*
        <big> Top books </big>          here using big as a tag
        <p big>Top books using atttributes </p>   here using big as an attribute 
        *@

        @await Component.InvokeAsync("TopBooks", new {count = 3})   <!--calling view component -->

        <vc:top-books count="3"></vc:top-books>   <!--calling view component using this tag helper-->

       <!-- <div class="row">
            <div class="col-md-4">
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
            </div>
        </div>

         -->

    </div>
</div>


@section breadcrumb
{
    <nav aria label"=" breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a href="#"> Home</a></li>

            <li class="breadcrumb-item"> <a href="#"> page 1</a></li>


            <li class="breadcrumb-item active" aria-current="page"> index </li>
        </ol>
    </nav>

}

@section scripts{


    <script>

        $(document).ready(function () {
            //alert("document is ready");
        })


    </script>
}

       

